<div class="container">

  <form>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault01">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="name" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault02">Dui</label>
        <input type="text" class="form-control" [(ngModel)]="dui" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationDefault03">Nombre de mascota</label>
        <input type="text" class="form-control"[(ngModel)]="petName" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault04">Tratamiento</label>
        <input type="text" class="form-control" [(ngModel)]="medication" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault05">Medicamento</label>
        <input type="text" class="form-control" [(ngModel)]="drug" required>
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault05">Costo</label>
        <input type="text" class="form-control" [(ngModel)]="cost" required>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" (click)="registrar()" >Registrar</button>
  </form>

  <table class="table" [hidden]="count == 0">
    <thead style="background-color: #a7e0aa;">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">DUI</th>
        <th scope="col">Nombre Mascota</th>
        <th scope="col">Tratamiento</th>
        <th scope="col">Medicamento</th>
        <th scope="col">Costo $</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let register of registerArray">
        <td>{{register.name}}</td>
        <td>{{register.dui}}</td>
        <td>{{register.petName}}</td>
        <td>{{register.medication}}</td>
        <td>{{register.drug}}</td>
        <td>{{register.cost}}</td>
        </tr>
    </tbody>
  </table>
</div>
